services:
  aiclient2api:
    build:
      context: .
    image: aiclient2api
    container_name: aiclient2api
    restart: always
    privileged: true
    ports:
      - "3001:3000"
      - "8085:8085"
      - "8086:8086"
    environment:
      - ARGS=--api-key 123456 --host 0.0.0.0
      - HOME=/home/app
    volumes:
      - ./data:/app/data
      - ./data/config.json:/app/config.json
      - ./data/input_system_prompt.txt:/app/input_system_prompt.txt
      - ./data/.gemini:/home/app/.gemini
      - ./data/.antigravity:/home/app/.antigravity
      - ./data/.qwen:/home/app/.qwen
      - ./data/.aws:/home/app/.aws
      - ./pwd:/app/data/pwd
