services:
  aiclient2api:
    build:
      context: .
    image: aiclient2api
    container_name: aiclient2api
    user: "${AICLIENT_USER:-1001:1001}"
    restart: always
    privileged: true
    ports:
      - "3001:3000"
    environment:
      ARGS: "--api-key 123456 --host 0.0.0.0"
      HOME: /home/app
    volumes:
      - type: bind
        source: ./data
        target: /app/data
      - type: bind
        source: ${HOME}/.aws/sso/cache
        target: /home/app/.aws/sso/cache
      - type: bind
        source: ${HOME}/.gemini/oauth_creds.json
        target: /home/app/.gemini/oauth_creds.json
